.comments-section {
    margin-top: 5rem;

    h3 {
        font-size: 2rem;
    }
    .comments-list {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .comments {
        background-color: #434343;
        color: #eee;
        padding: 20px 30px;
        border-radius: 10px;

        p {
            margin-top: 0.50rem;
        }
    }
    
}